Repository omargawdat/Gawdat_Django_Template: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, uv-lock-check, django-makemigrations-check

Path conditions:
  ruff-check: any of: \.py$, but not: ^docs/|/migrations/|^devcontainer.json$|.*\.tmp$|^uv\.lock$
  ruff-format: any of: \.py$, but not: ^docs/|/migrations/|^devcontainer.json$|.*\.tmp$|^uv\.lock$
  uv-lock-check: any of: (pyproject\.toml|uv\.lock)$, but not: ^docs/|/migrations/|^devcontainer.json$|.*\.tmp$|^uv\.lock$
  django-makemigrations-check: any of: ^.+\.(py)$, but not: ^docs/|/migrations/|^devcontainer.json$|.*\.tmp$|^uv\.lock$

fix: testing admin and factories
  common/management/commands/seed_db.py
  factories/factories.py
  tests/test_factory_coverage.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: remove all app from unfold
  config/integrations/unfold.py
Due: ruff-check, ruff-format, django-makemigrations-check

fix: muliple images generated
  factories/factories.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: timer for the loading data
  common/management/commands/seed_db.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: use bulk
  common/management/commands/seed_db.py
  factories/factories.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: enhance the perfoamnce of loading the data
  common/management/commands/seed_db.py
  factories/factories.py
Due: ruff-check, ruff-format, django-makemigrations-check

fix: duplicate error
  factories/factories.py
Due: ruff-check, ruff-format, django-makemigrations-check

fix: conflicts
  common/management/commands/seed_db.py
  factories/factories.py
  factories/loader.py
  tests/conftest.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: auto test endpoints
  tests/conftest.py
  tests/test_api_endpoints.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: ensure tests for endpoints wokring correctly
  apps/location/api/address/urls.py
  apps/location/api/address/views.py
  tests/test_api_endpoints.py
Due: ruff-check, ruff-format, django-makemigrations-check

Feat/endpoints automated tests new (#178)
  apps/location/api/address/urls.py
  apps/location/api/address/views.py
  tests/conftest.py
  tests/test_api_endpoints.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: updates
  tests/admin/__init__.py
  tests/admin/conftest.py
  tests/admin/test_admin_data_coverage.py
  tests/admin/test_admin_operations.py
  tests/admin/test_admin_pages.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: updates
  factories/loader.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: paymob integration
  apps/payment/domain/utilities/payment_gateways/Integrations/paymob.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: created paymob adapter
  apps/payment/domain/utilities/payment_gateways/adapters/paymob_adapter.py
  config/helpers/env.py
  dummy.env
Due: ruff-check, ruff-format, django-makemigrations-check

feat: update adapter
  apps/payment/domain/utilities/payment_gateways/adapters/paymob_adapter.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: add paymob type
  apps/payment/domain/utilities/payment_gateways/gateway_types.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: add paymob in the factory
  apps/payment/domain/utilities/payment_gateways/factory.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: payment with paymob
  apps/payment/domain/services/payment.py
  apps/payment/domain/utilities/payment_gateways/adapters/paymob_adapter.py
  assets/fixtures/customers.json
Due: ruff-check, ruff-format, django-makemigrations-check

feat: fix pre commit
  tests/admin/test_admin_pages.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: no need to install pre-commit locally
  .github/workflows/linter.yml
  .pre-commit-config.yaml
  Dockerfile
  README.md
  justfile
  pyproject.toml
  uv.lock
Due: uv-lock-check

feat: fully use uv
  README.md
  justfile
Due: none

feat: fully use uv
  .pre-commit-config.yaml
Due: none

feat: user osv-scanner
  .pre-commit-config.yaml
  README.md
  justfile
Due: none

feat: user osv-scanner
  .pre-commit-config.yaml
Due: none

feat: remove securty precommit check
  .pre-commit-config.yaml
  README.md
  justfile
Due: none

fix: pipeline bug
  .github/workflows/linter.yml
Due: none

Feat/paymob integration (#179)
  apps/payment/domain/services/payment.py
  apps/payment/domain/utilities/payment_gateways/Integrations/paymob.py
  apps/payment/domain/utilities/payment_gateways/adapters/paymob_adapter.py
  apps/payment/domain/utilities/payment_gateways/factory.py
  apps/payment/domain/utilities/payment_gateways/gateway_types.py
  assets/fixtures/customers.json
  config/helpers/env.py
  dummy.env
  factories/loader.py
  tests/admin/__init__.py
  tests/admin/conftest.py
  tests/admin/test_admin_data_coverage.py
  tests/admin/test_admin_operations.py
  tests/admin/test_admin_pages.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: migrate to django-allauth headless with unified OpenAPI schema
  CLAUDE.md
  README.md
  apps/users/api/customer/urls.py
  apps/users/api/customer/views.py
  apps/users/api/oauth/__init__.py
  apps/users/api/oauth/urls.py
  apps/users/api/oauth/views.py
  apps/users/fields/admin_user.py
  apps/users/fields/customer.py
  apps/users/migrations/0002_alter_historicalcustomer_date_joined_and_more.py
  apps/users/migrations/0003_alter_adminuser_options_alter_customer_options_and_more.py
  apps/users/migrations/0004_alter_historicalcustomer_email_alter_user_email.py
  apps/users/model_manager.py
  apps/users/models/user.py
  config/helpers/env.py
  config/helpers/oauth_adapter.py
  config/integrations/drf.py
  config/schema_hooks.py
  config/settings/base.py
  config/settings/local.py
  config/urls.py
  dummy.env
  pyproject.toml
  uv.lock
Due: ruff-check, ruff-format, uv-lock-check, django-makemigrations-check

feat: being able to take additonal fields
  apps/users/adapters/__init__.py
  apps/users/adapters/account.py
  apps/users/forms/__init__.py
  apps/users/forms/signup.py
  config/settings/base.py
  config/settings/local.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: remove handmaded endpoints
  CLAUDE.md
  apps/channel/api/notification/serializers.py
  apps/users/adapters/account.py
  apps/users/api/email/serializers.py
  apps/users/api/email/urls.py
  apps/users/api/email/views.py
  apps/users/api/profile/__init__.py
  apps/users/api/profile/serializers.py
  apps/users/api/profile/urls.py
  apps/users/api/profile/views.py
  apps/users/api/user/serializers.py
  apps/users/domain/services/customer.py
  apps/users/forms/signup.py
  apps/users/middleware/__init__.py
  apps/users/middleware/profile_check.py
  apps/users/migrations/0002_add_user_type_field.py
  apps/users/migrations/0003_remove_user_type_field.py
  apps/users/models/user.py
  config/settings/base.py
  config/urls.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: response structure
  apps/users/adapters/__init__.py
  apps/users/adapters/headless.py
  config/settings/base.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: standarize the errors of allauth
  config/schema_hooks.py
  config/settings/base.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: standarize the errors of allauth
  config/middleware/__init__.py
  config/middleware/allauth_error_formatter.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: remove redundant fields in the customer
  apps/users/api/customer/serializers.py
  apps/users/models/customer.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: configurations
  config/helpers/env.py
  config/integrations/drf.py
  config/settings/base.py
  config/settings/local.py
  config/settings/prod.py
  docs/AUTHENTICATION_CONFIG.md
  docs/CONFIGURATION_CHANGES.md
  docs/DEVELOPER_TESTING_GUIDE.md
  dummy.env
Due: ruff-check, ruff-format, django-makemigrations-check

feat: remove anything related to JWT
  apps/appInfo/api/info/views.py
  apps/channel/api/notification/views.py
  apps/location/api/address/views.py
  apps/payment/api/wallet/views.py
  apps/users/api/customer/views.py
  apps/users/api/profile/views.py
  apps/users/api/user/serializers.py
  apps/users/api/user/urls.py
  apps/users/api/user/views.py
  apps/users/data_class.py
  apps/users/domain/services/token.py
  apps/users/domain/services/user.py
  config/__init__.py
  config/helpers/authentication.py
  config/helpers/env.py
  config/helpers/exception_handler.py
  config/integrations/drf.py
  config/schema_extensions.py
  config/settings/base.py
  dummy.env
Due: ruff-check, ruff-format, django-makemigrations-check
