Repository omargawdat/Gawdat_Django_Template: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, django-makemigrations-check

Path conditions:
  uv-lock-check: any of: (pyproject\.toml|uv\.lock)$, but not: ^docs/|/migrations/|^devcontainer.json$|.*\.tmp$|^uv\.lock$
  django-makemigrations-check: any of: ^.+\.(py)$, but not: ^docs/|/migrations/|^devcontainer.json$|.*\.tmp$|^uv\.lock$

feat: remove package of generator at all
  apps/channel/admin/notification/permissions.py
  apps/location/admin/region/inline.py
  apps/location/admin/region/permissions.py
  apps/users/admin/customer/permissions.py
  apps/users/admin/provider/permissions.py
  config/settings/base.py
Due: django-makemigrations-check

feat: refactor base admin
  apps/appInfo/admin/banner/permissions.py
  apps/appInfo/admin/bannergroup/permissions.py
  apps/appInfo/admin/contactus/permissions.py
  apps/appInfo/admin/onboarding/permissions.py
  apps/appInfo/admin/popupbanner/permissions.py
  apps/channel/admin/notification/permissions.py
  apps/location/admin/address/permissions.py
  apps/location/admin/country/permissions.py
  apps/location/admin/region/permissions.py
  apps/payment/admin/payment/permissions.py
  apps/payment/admin/wallet/permissions.py
  apps/payment/admin/wallettransaction/permissions.py
  apps/users/admin/adminuser/permissions.py
  apps/users/admin/customer/CHECKLIST.md
  apps/users/admin/customer/permissions.py
  apps/users/admin/provider/permissions.py
  common/base/admin.py
  common/generators/admin/permissions_generator.py
  tests/admin/test_field_permissions.py
Due: django-makemigrations-check

feat: refactor base admin
  common/base/admin.py
Due: django-makemigrations-check

feat: refactor base admin
  apps/users/admin/adminuser/context.py
  common/base/admin.py
  tests/admin/test_field_permissions.py
Due: django-makemigrations-check

fix: bug in hidden item
  common/base/admin.py
Due: django-makemigrations-check

feat: auto test export functionality
  apps/location/admin/address/resource.py
  apps/location/admin/country/resource.py
  tests/admin/test_admin_export.py
Due: django-makemigrations-check

feat: test ordering
  apps/users/admin/customer/display.py
  tests/admin/test_admin_pages.py
Due: django-makemigrations-check

feat: auto add accept langauge for all endpoints
  apps/users/api/customer/views.py
  config/integrations/drf.py
  config/schema_custom.py
Due: django-makemigrations-check

feat: test for fixtures loading
  AUTHENTICATION_CONFIG.md
  apps/appInfo/api/info/urls.py
  apps/appInfo/api/info/views.py
  apps/appInfo/domain/services/faq_test.py
  assets/fixtures/customers.json
  assets/fixtures/payment.json
  common/management/commands/loadfixtures.py
  tests/test_fixtures_loading.py
Due: django-makemigrations-check

feat: test for fixtures loading
  apps/appInfo/domain/services/__init__.py
Due: django-makemigrations-check

feat: separate the entry points
  Dockerfile
  scripts/docker-entrypoint
  scripts/docker-entrypoint.dev
  scripts/docker-entrypoint.local
  scripts/docker-entrypoint.prod
Due: none

feat: separate the entry points
  Dockerfile
  uv.lock
Due: none

feat: separate the entry points
  .dockerignore
  Dockerfile
Due: none

chore: ignore reference project
  .gitignore
Due: none

feat: install a package from git
  Dockerfile
  docker-compose.local.yml
  dummy.env
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix: add git to runtime stage and prevent .env backup files from being committed
  .gitignore
  Dockerfile
Due: none

feat: unit test to test unfold sidebar
  config/integrations/unfold.py
Due: django-makemigrations-check

feat: unit test to test unfold sidebar
  tests/admin/test_unfold_sidebar.py
Due: django-makemigrations-check

feat: chanage csv into xlsx
  apps/location/admin/address/admin.py
  apps/location/admin/country/admin.py
  apps/payment/admin/payment/admin.py
  apps/payment/admin/wallet/admin.py
  apps/payment/admin/wallettransaction/admin.py
  common/generators/admin/admin_generator.py
Due: django-makemigrations-check

feat: dashboard testing
  tests/admin/test_admin_dashboard.py
Due: django-makemigrations-check

feat: update env values
  README.md
  config/helpers/env.py
  config/settings/base.py
  dummy.env
Due: django-makemigrations-check

fix: some bugs
  README.md
Due: none

feat: chanage csv into xlsx (#189)
  apps/location/admin/address/admin.py
  apps/location/admin/country/admin.py
  apps/payment/admin/payment/admin.py
  apps/payment/admin/wallet/admin.py
  apps/payment/admin/wallettransaction/admin.py
  common/generators/admin/admin_generator.py
Due: django-makemigrations-check

fix: loading secrets before starting
  scripts/docker-entrypoint
  scripts/docker-entrypoint.dev
  scripts/docker-entrypoint.prod
Due: none

fix: loading secrets before starting
  scripts/docker-entrypoint
  scripts/docker-entrypoint.dev
  scripts/docker-entrypoint.local
  scripts/docker-entrypoint.prod
Due: none

chore: remove test atomic endpoint
  apps/appInfo/api/info/urls.py
  apps/appInfo/api/info/views.py
  apps/appInfo/domain/services/faq_test.py
Due: django-makemigrations-check

feat: use better schema
  config/__init__.py
  config/schema_extensions.py
  config/schema_hooks.py
  pyproject.toml
  uv.lock
Due: uv-lock-check, django-makemigrations-check

feat: created serializer
  .gitignore
  apps/appInfo/api/info/serializers.py
Due: django-makemigrations-check

feat: created the endpoint
  apps/appInfo/api/info/urls.py
  apps/appInfo/api/info/views.py
Due: django-makemigrations-check

feat: created the endpoint
  apps/appInfo/api/info/views.py
Due: django-makemigrations-check

feat: created the endpoint
  .venv/bin/python
  .venv/bin/python3
  .venv/bin/python3.13
  apps/appInfo/api/info/serializers.py
  apps/appInfo/api/info/urls.py
  apps/appInfo/api/info/views.py
Due: django-makemigrations-check

feat: enforce form https to solve django 6 warning
  config/settings/base.py
Due: django-makemigrations-check

feat: updates
  apps/appInfo/api/info/views.py
Due: django-makemigrations-check

feat: updates
  apps/appInfo/api/info/urls.py
  apps/appInfo/api/info/views.py
Due: django-makemigrations-check

feat: ignore .venv
  .gitignore
Due: none

feat: created the endpoint (#191)
  .venv/bin/python
  .venv/bin/python3
  .venv/bin/python3.13
  apps/appInfo/api/info/serializers.py
  apps/appInfo/api/info/urls.py
  apps/appInfo/api/info/views.py
Due: django-makemigrations-check

feat: wallet list view
  apps/payment/admin/wallet/display.py
  apps/payment/admin/wallet/list_view.py
Due: django-makemigrations-check

feat: wallet change view
  apps/payment/admin/wallet/change_view.py
Due: django-makemigrations-check

feat: payment dispaly
  apps/payment/admin/payment/display.py
Due: django-makemigrations-check
