Repository omargawdat/Gawdat_Django_Template: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, django-makemigrations-check

uv-lock-check:
  name: uv lock check (prevent lockfile drift)
  entry: uv lock --check
  language: system
  pass_filenames: false

django-makemigrations-check:
  name: Check Django migrations
  entry: docker compose -f docker-compose.local.yml run --rm -T django python manage.py makemigrations --dry-run --check
  language: system
  pass_filenames: false
  stages:
  - pre-push

refactor: email configurations & service
  .claude/settings.json
  README.md
  apps/channel/domain/services/email.py
  apps/channel/email_templates.py
  apps/channel/tasks.py
  apps/users/domain/services/email.py
  assets/templates/account/email/email_confirmation_message.html
  assets/templates/account/email/email_confirmation_signup_message.html
  assets/templates/account/email/login_code_message.html
  assets/templates/emails/base.html
  assets/templates/emails/mail.html
  config/helpers/account_adapter.py
  config/helpers/env.py
  config/integrations/unfold.py
  config/settings/base.py
  config/settings/prod.py
  dummy.env
  factories/factories.py
  pyproject.toml
  uv.lock
Due: uv-lock-check, django-makemigrations-check

refactor: email configurations & service (#198)
  .claude/settings.json
  README.md
  apps/channel/domain/services/email.py
  apps/channel/email_templates.py
  apps/channel/tasks.py
  apps/users/domain/services/email.py
  assets/templates/account/email/email_confirmation_message.html
  assets/templates/account/email/email_confirmation_signup_message.html
  assets/templates/account/email/login_code_message.html
  assets/templates/emails/base.html
  assets/templates/emails/mail.html
  config/helpers/account_adapter.py
  config/helpers/env.py
  config/integrations/unfold.py
  config/settings/base.py
  config/settings/prod.py
  dummy.env
  factories/factories.py
  pyproject.toml
  uv.lock
Due: uv-lock-check, django-makemigrations-check

feat: updates
  config/settings/base.py
Due: django-makemigrations-check

feat: updates (#200)
  config/settings/base.py
Due: django-makemigrations-check

feat: add env-driven DB pool size fields
  config/helpers/env.py
Due: django-makemigrations-check

fix: cap DB connection pool, drop CONN_MAX_AGE=600
  config/settings/base.py
Due: django-makemigrations-check

fix: env-driven DB connection pool, drop CONN_MAX_AGE=600 (#201)
  config/helpers/env.py
  config/settings/base.py
Due: django-makemigrations-check

chore: make db_pool_min_size/max_size required (no defaults)
  config/helpers/env.py
Due: django-makemigrations-check

docs: add DB_POOL_MIN_SIZE / DB_POOL_MAX_SIZE to dummy.env
  dummy.env
Due: none

docs: list DB_POOL_MIN_SIZE / DB_POOL_MAX_SIZE in deployment secrets
  README.md
Due: none

chore: make DB_POOL_* required, document in dummy.env + README (#202)
  README.md
  config/helpers/env.py
  dummy.env
Due: django-makemigrations-check

Path conditions:
  uv-lock-check: any of: (pyproject\.toml|uv\.lock)$, but not: ^docs/|/migrations/|^devcontainer.json$|.*\.tmp$|^uv\.lock$
  django-makemigrations-check: any of: ^.+\.(py)$, but not: ^docs/|/migrations/|^devcontainer.json$|.*\.tmp$|^uv\.lock$
