Repository omargawdat/Gawdat_Django_Template: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, uv-lock-check, django-makemigrations-check

Path conditions:
  ruff-check: any of: \.py$, but not: ^docs/|/migrations/|^devcontainer.json$|.*\.tmp$|^uv\.lock$
  ruff-format: any of: \.py$, but not: ^docs/|/migrations/|^devcontainer.json$|.*\.tmp$|^uv\.lock$
  uv-lock-check: any of: (pyproject\.toml|uv\.lock)$, but not: ^docs/|/migrations/|^devcontainer.json$|.*\.tmp$|^uv\.lock$
  django-makemigrations-check: any of: ^.+\.(py)$, but not: ^docs/|/migrations/|^devcontainer.json$|.*\.tmp$|^uv\.lock$

fix: gunicorn bug
  README.md
Due: none

chore: configure pre-commit to check all files + re-add ERA001 to ignore
  .pre-commit-config.yaml
  pyproject.toml
Due: uv-lock-check

fix: gunicorn bug
  pyproject.toml
Due: uv-lock-check

docs: update
  apps/payment/domain/services/payment.py
Due: ruff-check, ruff-format, django-makemigrations-check

docs: update docs
  README.md
Due: none

fix: missing migrations
  apps/channel/migrations/0003_alter_notification_notification_type.py
Due: none

feat: recharge serializers
  apps/payment/api/wallet/serializers.py
  apps/payment/api/wallet/views.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: recharge endpoint
  apps/payment/api/wallet/urls.py
  apps/payment/api/wallet/views.py
  apps/payment/constants.py
  apps/payment/domain/utilities/money.py
  apps/payment/migrations/0004_alter_historicalpayment_payment_type_and_more.py
  schema.yml
Due: ruff-check, ruff-format, django-makemigrations-check

feat: updates
  apps/payment/api/callback/views.py
  apps/payment/domain/services/payment.py
  config/urls.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: create wallet trancation
  apps/payment/domain/services/payment.py
Due: ruff-check, ruff-format, django-makemigrations-check

refactor: enhance justfile
  MIGRATION_GUIDE.md
  justfile
Due: none

feat: auto fix enabling
  .pre-commit-config.yaml
Due: none

feat: create payment factory
  factories/factories.py
Due: ruff-check, ruff-format, django-makemigrations-check

fix: bug
  common/insights/selectors/insight_selector.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: enable editing the user country
  apps/users/api/customer/serializers.py
  apps/users/api/customer/views.py
  apps/users/models/customer.py
Due: ruff-check, ruff-format, django-makemigrations-check

refactor: env values
  README.md
  config/helpers/env.py
  dummy.env
Due: ruff-check, ruff-format, django-makemigrations-check

feat: updates
  factories/factories.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: updates
  factories/loader.py
Due: ruff-check, ruff-format, django-makemigrations-check

fix: enahnce readme
  .gitignore
  README.md
  config/integrations/fcm.py
  justfile
  scripts/encode_firebase.sh
Due: ruff-check, ruff-format, django-makemigrations-check

fix: handle Firebase dummy credentials gracefully
  config/integrations/fcm.py
  dummy.env
Due: ruff-check, ruff-format, django-makemigrations-check

chore: ignore tracking git for schema file
  .gitignore
  schema.yml
Due: none

refactor: one conftest file
  tests/admin/conftest.py
  tests/conftest.py
Due: ruff-check, ruff-format, django-makemigrations-check

test: not working
  apps/location/api/address/urls.py
  apps/location/api/address/views.py
  tests/api/__init__.py
  tests/api/test_api_retrieve_endpoints.py
  tests/conftest.py
Due: ruff-check, ruff-format, django-makemigrations-check

refactor: load the data only once
  TESTING_GUIDE.md
  tests/admin/test_admin_data_coverage.py
  tests/admin/test_admin_operations.py
  tests/admin/test_admin_pages.py
  tests/conftest.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: remove unused file
  TESTING_GUIDE.md
Due: none

feat: ensure all models have factory coverage
  apps/location/management/commands/loadcountries.py
  pyproject.toml
  tests/admin/test_admin_data_coverage.py
  tests/admin/test_factory_coverage.py
Due: ruff-check, ruff-format, uv-lock-check, django-makemigrations-check

feat: enhace the error comming from the tests
  pyproject.toml
Due: uv-lock-check

refactor: tests
  factories/__init__.py
  factories/factories.py
  pyproject.toml
  tests/admin/__init__.py
  tests/admin/test_admin_operations.py
  tests/test_admin.py
  tests/test_factory_coverage.py
Due: ruff-check, ruff-format, uv-lock-check, django-makemigrations-check

feat: collect the logic of loading the data
  common/management/commands/seed_db.py
  factories/loader.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: enhance test coverage for the models
  factories/factories.py
  factories/loader.py
  tests/test_factory_coverage.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: control on loading the data
  common/management/commands/seed_db.py
  factories/__init__.py
  factories/factories.py
  factories/loader.py
  pyproject.toml
  tests/conftest.py
Due: ruff-check, ruff-format, uv-lock-check, django-makemigrations-check

feat: single sourth of truth for loading the data
  common/management/commands/seed_db.py
  factories/__init__.py
  factories/loader.py
  tests/conftest.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: remove unncessary checks
  factories/factories.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: enhane the factories
  common/management/commands/seed_db.py
  factories/factories.py
Due: ruff-check, ruff-format, django-makemigrations-check

fix: point long and lat
  factories/factories.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: fixed number of users
  common/management/commands/seed_db.py
Due: ruff-check, ruff-format, django-makemigrations-check

feat: enhance models relationship
  common/management/commands/seed_db.py
  factories/factories.py
  tests/test_factory_coverage.py
Due: ruff-check, ruff-format, django-makemigrations-check
